openapi: 3.1.0
info:
  title: Viam Billing Arm Usage API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Usage
  description: Current-month usage reporting.
paths:
  /viam.app.v1.BillingService/GetCurrentMonthUsage:
    post:
      summary: Viam Get Current Month Usage
      description: Retrieve current-month usage and projected cost for an organization.
      operationId: getCurrentMonthUsage
      tags:
      - Usage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org_id
              properties:
                org_id:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.BillingService/GetOrgBillingInformation:
    post:
      summary: Viam Get Org Billing Information
      description: Retrieve billing information for an organization.
      operationId: getOrgBillingInformation
      tags:
      - Usage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org_id
              properties:
                org_id:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
