openapi: 3.2.0
info:
  title: Viam Billing Billing Tiers API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Billing Tiers
  description: Available billing tiers for end-customer billing.
paths:
  /viam.app.v1.BillingService/GetAvailableBillingTiers:
    post:
      summary: Viam Get Available Billing Tiers
      description: List billing tiers available for end-customer subscription.
      operationId: getAvailableBillingTiers
      tags:
      - Billing Tiers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org_id
              properties:
                org_id:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.BillingService/UpdateOrganizationBillingTier:
    post:
      summary: Viam Update Organization Billing Tier
      description: Move an organization onto a new billing tier.
      operationId: updateOrganizationBillingTier
      tags:
      - Billing Tiers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org_id
              - billing_tier
              properties:
                org_id:
                  type: string
                billing_tier:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.BillingService/GetLocationBillingOrganization:
    post:
      summary: Viam Get Location Billing Organization
      description: Retrieve the organization billed for a location's usage.
      operationId: getLocationBillingOrganization
      tags:
      - Billing Tiers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - location_id
              properties:
                location_id:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.BillingService/UpdateLocationBillingOrganization:
    post:
      summary: Viam Update Location Billing Organization
      description: Reassign a location to a different billing organization.
      operationId: updateLocationBillingOrganization
      tags:
      - Billing Tiers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - location_id
              - billing_organization_id
              properties:
                location_id:
                  type: string
                billing_organization_id:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
