openapi: 3.1.0
info:
  title: Viam Billing Arm Encoder API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Encoder
  description: Position encoders.
paths:
  /viam.component.encoder.v1.EncoderService/GetPosition:
    post:
      summary: Viam Encoder Get Position
      description: Read the encoder's current position.
      operationId: encoderGetPosition
      tags:
      - Encoder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.component.encoder.v1.EncoderService/ResetPosition:
    post:
      summary: Viam Encoder Reset Position
      description: Reset the encoder's zero position.
      operationId: encoderResetPosition
      tags:
      - Encoder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
