openapi: 3.1.0
info:
  title: Viam Billing Arm Base API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Base
  description: Mobile platforms (wheeled, tracked).
paths:
  /viam.component.base.v1.BaseService/MoveStraight:
    post:
      summary: Viam Base Move Straight
      description: Move the base a specified distance at a velocity.
      operationId: baseMoveStraight
      tags:
      - Base
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - distance_mm
              - mm_per_sec
              properties:
                name:
                  type: string
                distance_mm:
                  type: integer
                mm_per_sec:
                  type: number
      responses:
        '200':
          description: Successful response.
  /viam.component.base.v1.BaseService/Spin:
    post:
      summary: Viam Base Spin
      description: Spin the base by an angle at an angular velocity.
      operationId: baseSpin
      tags:
      - Base
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - angle_deg
              - degs_per_sec
              properties:
                name:
                  type: string
                angle_deg:
                  type: number
                degs_per_sec:
                  type: number
      responses:
        '200':
          description: Successful response.
  /viam.component.base.v1.BaseService/SetPower:
    post:
      summary: Viam Base Set Power
      description: Set linear and angular power for the base.
      operationId: baseSetPower
      tags:
      - Base
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - linear
              - angular
              properties:
                name:
                  type: string
                linear:
                  type: object
                angular:
                  type: object
      responses:
        '200':
          description: Successful response.
  /viam.component.base.v1.BaseService/SetVelocity:
    post:
      summary: Viam Base Set Velocity
      description: Set linear and angular velocity for the base.
      operationId: baseSetVelocity
      tags:
      - Base
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - linear
              - angular
              properties:
                name:
                  type: string
                linear:
                  type: object
                angular:
                  type: object
      responses:
        '200':
          description: Successful response.
  /viam.component.base.v1.BaseService/Stop:
    post:
      summary: Viam Base Stop
      description: Stop the base.
      operationId: baseStop
      tags:
      - Base
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
