openapi: 3.2.0
info:
  title: Viam Data Client Tags API
  description: 'REST/JSON transcoding of the Viam DataService gRPC API. Upload, download, query,

    tag, and delete tabular and binary data captured from machines. Manage datasets,

    saved queries, bounding boxes, sequences, and the cloud-hosted MongoDB connection.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/data/v1/data.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Tags
  description: Bounding boxes and labels applied to binary data items.
paths:
  /viam.app.data.v1.DataService/AddTagsToBinaryDataByIDs:
    post:
      summary: Viam Add Tags To Binary Data By Ids
      description: Add string tags to binary data items.
      operationId: addTagsToBinaryDataByIDs
      tags:
      - Tags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - binary_ids
              - tags
              properties:
                binary_ids:
                  type: array
                  items:
                    type: object
                tags:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.data.v1.DataService/RemoveTagsFromBinaryDataByIDs:
    post:
      summary: Viam Remove Tags From Binary Data By Ids
      description: Remove string tags from binary data items.
      operationId: removeTagsFromBinaryDataByIDs
      tags:
      - Tags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - binary_ids
              - tags
              properties:
                binary_ids:
                  type: array
                  items:
                    type: object
                tags:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.data.v1.DataService/TagsByFilter:
    post:
      summary: Viam Tags By Filter
      description: List unique tags matching a filter.
      operationId: tagsByFilter
      tags:
      - Tags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
      responses:
        '200':
          description: Successful response.
  /viam.app.data.v1.DataService/AddBoundingBoxToImageByID:
    post:
      summary: Viam Add Bounding Box To Image By Id
      description: Add a bounding-box annotation to a binary image item.
      operationId: addBoundingBoxToImageByID
      tags:
      - Tags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - binary_id
              - label
              properties:
                binary_id:
                  type: object
                label:
                  type: string
                x_min_normalized:
                  type: number
                y_min_normalized:
                  type: number
                x_max_normalized:
                  type: number
                y_max_normalized:
                  type: number
      responses:
        '200':
          description: Successful response.
  /viam.app.data.v1.DataService/RemoveBoundingBoxFromImageByID:
    post:
      summary: Viam Remove Bounding Box From Image By Id
      description: Remove a bounding-box annotation by id.
      operationId: removeBoundingBoxFromImageByID
      tags:
      - Tags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - binary_id
              - bbox_id
              properties:
                binary_id:
                  type: object
                bbox_id:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
