openapi: 3.1.0
info:
  title: Viam Billing Arm Database API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Database
  description: Direct database connection (MongoDB) for advanced analytics.
paths:
  /viam.app.data.v1.DataService/GetDatabaseConnection:
    post:
      summary: Viam Get Database Connection
      description: Get the MongoDB connection string for direct analytics access.
      operationId: getDatabaseConnection
      tags:
      - Database
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - organization_id
              properties:
                organization_id:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.data.v1.DataService/ConfigureDatabaseUser:
    post:
      summary: Viam Configure Database User
      description: Create or rotate a database user for direct analytics access.
      operationId: configureDatabaseUser
      tags:
      - Database
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - organization_id
              - password
              properties:
                organization_id:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
