openapi: 3.1.0
info:
  title: Viam Billing Arm OAuth Apps API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: OAuth Apps
  description: OAuth applications registered against a Viam organization for third-party integrations.
paths:
  /viam.app.v1.AppService/CreateOAuthApp:
    post:
      summary: Viam Create Oauth App
      description: Register a new OAuth application against an organization.
      operationId: createOAuthApp
      tags:
      - OAuth Apps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - organization_id
              - client_name
              properties:
                organization_id:
                  type: string
                client_name:
                  type: string
                redirect_uris:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.AppService/ListOAuthApps:
    post:
      summary: Viam List Oauth Apps
      description: List OAuth applications registered under an organization.
      operationId: listOAuthApps
      tags:
      - OAuth Apps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - organization_id
              properties:
                organization_id:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
