openapi: 3.2.0
info:
  title: Viam Data Client Binary Data API
  description: 'REST/JSON transcoding of the Viam DataService gRPC API. Upload, download, query,

    tag, and delete tabular and binary data captured from machines. Manage datasets,

    saved queries, bounding boxes, sequences, and the cloud-hosted MongoDB connection.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/data/v1/data.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Binary Data
  description: Images, video, audio, and other binary blobs captured by cameras and audio components.
paths:
  /viam.app.data.v1.DataService/BinaryDataByFilter:
    post:
      summary: Viam Binary Data By Filter
      description: Query binary data items using a filter and optional pagination.
      operationId: binaryDataByFilter
      tags:
      - Binary Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data_request:
                  type: object
                include_binary:
                  type: boolean
                count_only:
                  type: boolean
      responses:
        '200':
          description: Successful response.
  /viam.app.data.v1.DataService/BinaryDataByIDs:
    post:
      summary: Viam Binary Data By Ids
      description: Retrieve binary data items by their ids.
      operationId: binaryDataByIDs
      tags:
      - Binary Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - binary_ids
              properties:
                binary_ids:
                  type: array
                  items:
                    type: object
                include_binary:
                  type: boolean
      responses:
        '200':
          description: Successful response.
  /viam.app.data.v1.DataService/DeleteBinaryDataByFilter:
    post:
      summary: Viam Delete Binary Data By Filter
      description: Delete binary data items matching a filter.
      operationId: deleteBinaryDataByFilter
      tags:
      - Binary Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
      responses:
        '200':
          description: Successful response.
  /viam.app.data.v1.DataService/DeleteBinaryDataByIDs:
    post:
      summary: Viam Delete Binary Data By Ids
      description: Delete binary data items by id.
      operationId: deleteBinaryDataByIDs
      tags:
      - Binary Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - binary_ids
              properties:
                binary_ids:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Successful response.
  /viam.app.data.v1.DataService/CreateBinaryDataSignedURL:
    post:
      summary: Viam Create Binary Data Signed Url
      description: Generate a signed URL for direct upload of binary data.
      operationId: createBinaryDataSignedURL
      tags:
      - Binary Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - part_id
              - file_extension
              properties:
                part_id:
                  type: string
                file_extension:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
