openapi: 3.2.0
info:
  title: Viam Fleet Management Organizations API
  description: 'REST/JSON transcoding of the Viam AppService gRPC API. Manage organizations, locations,

    machines (robots), machine parts, fragments, OAuth apps, and team memberships in the

    viam.app cloud.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/app.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
  x-logo:
    url: https://www.viam.com/favicon.ico
servers:
- url: https://app.viam.com
  description: Viam production cloud (gRPC + gRPC-Web)
security:
- ApiKeyAuth: []
tags:
- name: Organizations
  description: Tenant boundary for Viam — owns locations, machines, members, billing, and registry items.
paths:
  /viam.app.v1.AppService/ListOrganizations:
    post:
      summary: Viam List Organizations
      description: List organizations the caller has access to.
      operationId: listOrganizations
      tags:
      - Organizations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
  /viam.app.v1.AppService/GetOrganization:
    post:
      summary: Viam Get Organization
      description: Retrieve a single organization by id.
      operationId: getOrganization
      tags:
      - Organizations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - organization_id
              properties:
                organization_id:
                  type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  organization:
                    $ref: '#/components/schemas/Organization'
  /viam.app.v1.AppService/CreateOrganization:
    post:
      summary: Viam Create Organization
      description: Create a new organization.
      operationId: createOrganization
      tags:
      - Organizations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.AppService/UpdateOrganization:
    post:
      summary: Viam Update Organization
      description: Update an organization's name or public namespace.
      operationId: updateOrganization
      tags:
      - Organizations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - organization_id
              properties:
                organization_id:
                  type: string
                name:
                  type: string
                public_namespace:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.AppService/DeleteOrganization:
    post:
      summary: Viam Delete Organization
      description: Delete an organization.
      operationId: deleteOrganization
      tags:
      - Organizations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - organization_id
              properties:
                organization_id:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  schemas:
    Organization:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        public_namespace:
          type: string
        created_on:
          type: string
          format: date-time
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key id and key value sent as gRPC metadata (key_id + key).
