openapi: 3.1.0
info:
  title: Viam Billing Arm Saved Queries API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Saved Queries
  description: Reusable SQL/MQL queries stored in the cloud.
paths:
  /viam.app.data.v1.DataService/CreateSavedQuery:
    post:
      summary: Viam Create Saved Query
      description: Persist a named SQL/MQL query in the organization.
      operationId: createSavedQuery
      tags:
      - Saved Queries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - organization_id
              - name
              properties:
                organization_id:
                  type: string
                name:
                  type: string
                sql_query:
                  type: string
                mql_binary:
                  type: array
                  items:
                    type: string
                    format: byte
      responses:
        '200':
          description: Successful response.
  /viam.app.data.v1.DataService/ListSavedQueries:
    post:
      summary: Viam List Saved Queries
      description: List saved queries in an organization.
      operationId: listSavedQueries
      tags:
      - Saved Queries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - organization_id
              properties:
                organization_id:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.data.v1.DataService/GetSavedQuery:
    post:
      summary: Viam Get Saved Query
      description: Retrieve a saved query by id.
      operationId: getSavedQuery
      tags:
      - Saved Queries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.data.v1.DataService/UpdateSavedQuery:
    post:
      summary: Viam Update Saved Query
      description: Update a saved query.
      operationId: updateSavedQuery
      tags:
      - Saved Queries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                name:
                  type: string
                sql_query:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.data.v1.DataService/DeleteSavedQuery:
    post:
      summary: Viam Delete Saved Query
      description: Delete a saved query.
      operationId: deleteSavedQuery
      tags:
      - Saved Queries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
