openapi: 3.1.0
info:
  title: Viam Billing Arm Power Sensor API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Power Sensor
  description: Voltage, current, and power measurements.
paths:
  /viam.component.powersensor.v1.PowerSensorService/GetVoltage:
    post:
      summary: Viam Power Sensor Get Voltage
      description: Read voltage in volts.
      operationId: powerSensorGetVoltage
      tags:
      - Power Sensor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.component.powersensor.v1.PowerSensorService/GetCurrent:
    post:
      summary: Viam Power Sensor Get Current
      description: Read current in amperes.
      operationId: powerSensorGetCurrent
      tags:
      - Power Sensor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.component.powersensor.v1.PowerSensorService/GetPower:
    post:
      summary: Viam Power Sensor Get Power
      description: Read power in watts.
      operationId: powerSensorGetPower
      tags:
      - Power Sensor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
