openapi: 3.2.0
info:
  title: Viam Billing Invoices API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Invoices
  description: Invoices and invoice PDFs.
paths:
  /viam.app.v1.BillingService/GetInvoicesSummary:
    post:
      summary: Viam Get Invoices Summary
      description: Summarize invoices for an organization.
      operationId: getInvoicesSummary
      tags:
      - Invoices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org_id
              properties:
                org_id:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.BillingService/GetInvoicePdf:
    post:
      summary: Viam Get Invoice Pdf
      description: Retrieve an invoice PDF by id.
      operationId: getInvoicePdf
      tags:
      - Invoices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              - org_id
              properties:
                id:
                  type: string
                org_id:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.BillingService/SendPaymentRequiredEmail:
    post:
      summary: Viam Send Payment Required Email
      description: Send a payment-required notification email to an organization owner.
      operationId: sendPaymentRequiredEmail
      tags:
      - Invoices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customer_org_id
              properties:
                customer_org_id:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
