openapi: 3.1.0
info:
  title: Viam Billing Arm Fragments API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Fragments
  description: Reusable machine configuration snippets, versioned and shareable across orgs.
paths:
  /viam.app.v1.AppService/ListFragments:
    post:
      summary: Viam List Fragments
      description: List configuration fragments in an organization.
      operationId: listFragments
      tags:
      - Fragments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - organization_id
              properties:
                organization_id:
                  type: string
                show_public:
                  type: boolean
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.AppService/CreateFragment:
    post:
      summary: Viam Create Fragment
      description: Create a new configuration fragment.
      operationId: createFragment
      tags:
      - Fragments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - organization_id
              - config
              properties:
                name:
                  type: string
                organization_id:
                  type: string
                config:
                  type: object
                visibility:
                  type: string
                  enum:
                  - private
                  - public
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.AppService/GetFragment:
    post:
      summary: Viam Get Fragment
      description: Retrieve a fragment by id.
      operationId: getFragment
      tags:
      - Fragments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.AppService/UpdateFragment:
    post:
      summary: Viam Update Fragment
      description: Update an existing fragment.
      operationId: updateFragment
      tags:
      - Fragments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                name:
                  type: string
                config:
                  type: object
                visibility:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.AppService/DeleteFragment:
    post:
      summary: Viam Delete Fragment
      description: Delete a fragment.
      operationId: deleteFragment
      tags:
      - Fragments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
