openapi: 3.1.0
info:
  title: Viam Billing Arm Frame System API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Frame System
  description: Frame system config and pose transformations.
paths:
  /viam.robot.v1.RobotService/FrameSystemConfig:
    post:
      summary: Viam Frame System Config
      description: Retrieve the current frame system configuration.
      operationId: frameSystemConfig
      tags:
      - Frame System
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
  /viam.robot.v1.RobotService/GetPose:
    post:
      summary: Viam Get Pose
      description: Retrieve a component's pose relative to a destination frame.
      operationId: getPose
      tags:
      - Frame System
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - component_name
              properties:
                component_name:
                  type: string
                destination_frame:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.robot.v1.RobotService/TransformPose:
    post:
      summary: Viam Transform Pose
      description: Transform a pose from one frame to another.
      operationId: transformPose
      tags:
      - Frame System
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - source
              - destination
              properties:
                source:
                  type: object
                destination:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.robot.v1.RobotService/TransformPCD:
    post:
      summary: Viam Transform Pcd
      description: Transform a point cloud from one frame to another.
      operationId: transformPCD
      tags:
      - Frame System
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
