openapi: 3.2.0
info:
  title: Viam Billing Charges API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Charges
  description: Charge an organization or create-and-charge an invoice.
paths:
  /viam.app.v1.BillingService/ChargeOrganization:
    post:
      summary: Viam Charge Organization
      description: Charge an end-customer organization for usage outside the standard billing cycle.
      operationId: chargeOrganization
      tags:
      - Charges
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org_id
              - amount_owed
              properties:
                org_id:
                  type: string
                amount_owed:
                  type: number
                  format: double
                description:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.BillingService/CreateInvoiceAndChargeImmediately:
    post:
      summary: Viam Create Invoice And Charge Immediately
      description: Create an invoice and charge the customer immediately.
      operationId: createInvoiceAndChargeImmediately
      tags:
      - Charges
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org_id
              - amount
              properties:
                org_id:
                  type: string
                amount:
                  type: number
                  format: double
                description:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
