openapi: 3.1.0
info:
  title: Viam Billing Arm Modules API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Modules
  description: Modular component and service lifecycle.
paths:
  /viam.robot.v1.RobotService/GetModelsFromModules:
    post:
      summary: Viam Get Models From Modules
      description: Retrieve the list of resource models registered by all loaded modules.
      operationId: getModelsFromModules
      tags:
      - Modules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
  /viam.robot.v1.RobotService/RestartModule:
    post:
      summary: Viam Restart Module
      description: Restart a loaded module without restarting viam-server.
      operationId: restartModule
      tags:
      - Modules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                module_id:
                  type: string
                module_name:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
