openapi: 3.1.0
info:
  title: Viam Billing Arm Members API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Members
  description: Organization membership, invites, and authorizations (RBAC).
paths:
  /viam.app.v1.AppService/ListOrganizationMembers:
    post:
      summary: Viam List Organization Members
      description: List members and pending invites for an organization.
      operationId: listOrganizationMembers
      tags:
      - Members
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - organization_id
              properties:
                organization_id:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.AppService/CreateOrganizationInvite:
    post:
      summary: Viam Invite Organization Member
      description: Invite a user to an organization with one or more authorizations.
      operationId: createOrganizationInvite
      tags:
      - Members
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - organization_id
              - email
              properties:
                organization_id:
                  type: string
                email:
                  type: string
                authorizations:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.AppService/DeleteOrganizationMember:
    post:
      summary: Viam Remove Organization Member
      description: Remove a member from an organization.
      operationId: deleteOrganizationMember
      tags:
      - Members
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - organization_id
              - user_id
              properties:
                organization_id:
                  type: string
                user_id:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
