openapi: 3.2.0
info:
  title: Viam Data Client Datasets API
  description: 'REST/JSON transcoding of the Viam DataService gRPC API. Upload, download, query,

    tag, and delete tabular and binary data captured from machines. Manage datasets,

    saved queries, bounding boxes, sequences, and the cloud-hosted MongoDB connection.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/data/v1/data.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Datasets
  description: Curated collections of binary data used for ML training.
paths:
  /viam.app.data.v1.DataService/AddBinaryDataToDatasetByIDs:
    post:
      summary: Viam Add Binary Data To Dataset
      description: Add binary data items to a dataset.
      operationId: addBinaryDataToDatasetByIDs
      tags:
      - Datasets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - binary_ids
              - dataset_id
              properties:
                binary_ids:
                  type: array
                  items:
                    type: object
                dataset_id:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.data.v1.DataService/RemoveBinaryDataFromDatasetByIDs:
    post:
      summary: Viam Remove Binary Data From Dataset
      description: Remove binary data items from a dataset.
      operationId: removeBinaryDataFromDatasetByIDs
      tags:
      - Datasets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - binary_ids
              - dataset_id
              properties:
                binary_ids:
                  type: array
                  items:
                    type: object
                dataset_id:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
