openapi: 3.1.0
info:
  title: Viam Billing Arm Gripper API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Gripper
  description: End-effector grippers.
paths:
  /viam.component.gripper.v1.GripperService/Open:
    post:
      summary: Viam Gripper Open
      description: Open the gripper.
      operationId: gripperOpen
      tags:
      - Gripper
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.component.gripper.v1.GripperService/Grab:
    post:
      summary: Viam Gripper Grab
      description: Close the gripper and report whether anything was grasped.
      operationId: gripperGrab
      tags:
      - Gripper
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.component.gripper.v1.GripperService/IsHoldingSomething:
    post:
      summary: Viam Gripper Is Holding Something
      description: Check whether the gripper is currently holding something.
      operationId: gripperIsHoldingSomething
      tags:
      - Gripper
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
