openapi: 3.1.0
info:
  title: Viam Billing Arm Generic API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Generic
  description: Custom component with DoCommand-only interface.
paths:
  /viam.component.generic.v1.GenericService/DoCommand:
    post:
      summary: Viam Generic Do Command
      description: Send a custom model-specific command to a generic component.
      operationId: genericDoCommand
      tags:
      - Generic
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - command
              properties:
                name:
                  type: string
                command:
                  type: object
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
