openapi: 3.1.0
info:
  title: Viam Billing Arm Operations API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Operations
  description: Long-running operations executing on the machine.
paths:
  /viam.robot.v1.RobotService/GetOperations:
    post:
      summary: Viam Get Operations
      description: List operations currently running on the machine.
      operationId: getOperations
      tags:
      - Operations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
  /viam.robot.v1.RobotService/CancelOperation:
    post:
      summary: Viam Cancel Operation
      description: Cancel a running operation by id.
      operationId: cancelOperation
      tags:
      - Operations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.robot.v1.RobotService/BlockForOperation:
    post:
      summary: Viam Block For Operation
      description: Block the caller until an operation completes.
      operationId: blockForOperation
      tags:
      - Operations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
