openapi: 3.1.0
info:
  title: Viam Billing Arm Servo API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Servo
  description: Angular-position servos.
paths:
  /viam.component.servo.v1.ServoService/Move:
    post:
      summary: Viam Servo Move
      description: Move the servo to an angle in degrees.
      operationId: servoMove
      tags:
      - Servo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - angle_deg
              properties:
                name:
                  type: string
                angle_deg:
                  type: integer
      responses:
        '200':
          description: Successful response.
  /viam.component.servo.v1.ServoService/GetPosition:
    post:
      summary: Viam Servo Get Position
      description: Get the servo's current position.
      operationId: servoGetPosition
      tags:
      - Servo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
