openapi: 3.1.0
info:
  title: Viam Billing Arm Gantry API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Gantry
  description: Linear actuator coordination.
paths:
  /viam.component.gantry.v1.GantryService/MoveToPosition:
    post:
      summary: Viam Gantry Move To Position
      description: Move the gantry axes to specified positions.
      operationId: gantryMoveToPosition
      tags:
      - Gantry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - positions_mm
              properties:
                name:
                  type: string
                positions_mm:
                  type: array
                  items:
                    type: number
      responses:
        '200':
          description: Successful response.
  /viam.component.gantry.v1.GantryService/Home:
    post:
      summary: Viam Gantry Home
      description: Home the gantry.
      operationId: gantryHome
      tags:
      - Gantry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
