openapi: 3.2.0
info:
  title: Viam Fleet Management OAuth Apps API
  description: 'REST/JSON transcoding of the Viam AppService gRPC API. Manage organizations, locations,

    machines (robots), machine parts, fragments, OAuth apps, and team memberships in the

    viam.app cloud.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/app.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
  x-logo:
    url: https://www.viam.com/favicon.ico
servers:
- url: https://app.viam.com
  description: Viam production cloud (gRPC + gRPC-Web)
security:
- ApiKeyAuth: []
tags:
- name: OAuth Apps
  description: OAuth applications registered against a Viam organization for third-party integrations.
paths:
  /viam.app.v1.AppService/CreateOAuthApp:
    post:
      summary: Viam Create Oauth App
      description: Register a new OAuth application against an organization.
      operationId: createOAuthApp
      tags:
      - OAuth Apps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - organization_id
              - client_name
              properties:
                organization_id:
                  type: string
                client_name:
                  type: string
                redirect_uris:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.AppService/ListOAuthApps:
    post:
      summary: Viam List Oauth Apps
      description: List OAuth applications registered under an organization.
      operationId: listOAuthApps
      tags:
      - OAuth Apps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - organization_id
              properties:
                organization_id:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key id and key value sent as gRPC metadata (key_id + key).
