openapi: 3.2.0
info:
  title: Viam Data Client Sequences API
  description: 'REST/JSON transcoding of the Viam DataService gRPC API. Upload, download, query,

    tag, and delete tabular and binary data captured from machines. Manage datasets,

    saved queries, bounding boxes, sequences, and the cloud-hosted MongoDB connection.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/data/v1/data.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Sequences
  description: Ordered sequences of dataset items for time-series training.
paths:
  /viam.app.data.v1.DataService/CreateSequence:
    post:
      summary: Viam Create Sequence
      description: Create a sequence of dataset items.
      operationId: createSequence
      tags:
      - Sequences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - organization_id
              - name
              properties:
                organization_id:
                  type: string
                name:
                  type: string
                dataset_id:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.data.v1.DataService/ListSequences:
    post:
      summary: Viam List Sequences
      description: List sequences in an organization.
      operationId: listSequences
      tags:
      - Sequences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - organization_id
              properties:
                organization_id:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
