openapi: 3.1.0
info:
  title: Viam Billing Arm Audio Out API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Audio Out
  description: Audio playback devices.
paths:
  /viam.component.audioout.v1.AudioOutService/Play:
    post:
      summary: Viam Audio Out Play
      description: Play an audio payload on an output device.
      operationId: audioOutPlay
      tags:
      - Audio Out
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - audio
              properties:
                name:
                  type: string
                audio:
                  type: string
                  format: byte
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
