openapi: 3.1.0
info:
  title: Viam Billing Arm Camera API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Camera
  description: 2D image and 3D point cloud sources.
paths:
  /viam.component.camera.v1.CameraService/GetImages:
    post:
      summary: Viam Camera Get Images
      description: Capture one or more images from the camera.
      operationId: cameraGetImages
      tags:
      - Camera
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.component.camera.v1.CameraService/GetPointCloud:
    post:
      summary: Viam Camera Get Point Cloud
      description: Capture a 3D point cloud from the camera.
      operationId: cameraGetPointCloud
      tags:
      - Camera
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - mime_type
              properties:
                name:
                  type: string
                mime_type:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.component.camera.v1.CameraService/GetProperties:
    post:
      summary: Viam Camera Get Properties
      description: Get camera intrinsics and supported MIME types.
      operationId: cameraGetProperties
      tags:
      - Camera
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
