openapi: 3.1.0
info:
  title: Viam Billing Arm Secrets API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Secrets
  description: Location and machine-part secrets used by SDKs to authenticate.
paths:
  /viam.app.v1.AppService/CreateLocationSecret:
    post:
      summary: Viam Create Location Secret
      description: Create a new location-level secret used by SDKs to connect.
      operationId: createLocationSecret
      tags:
      - Secrets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - location_id
              properties:
                location_id:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.AppService/DeleteLocationSecret:
    post:
      summary: Viam Delete Location Secret
      description: Revoke a location secret.
      operationId: deleteLocationSecret
      tags:
      - Secrets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - location_id
              - secret_id
              properties:
                location_id:
                  type: string
                secret_id:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.AppService/GetRobotAPIKeys:
    post:
      summary: Viam Get Machine Api Keys
      description: List API keys with access to a machine.
      operationId: getRobotAPIKeys
      tags:
      - Secrets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - robot_id
              properties:
                robot_id:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
