openapi: 3.1.0
info:
  title: Viam Billing Arm Movement Sensor API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Movement Sensor
  description: GPS, IMU, odometry.
paths:
  /viam.component.movementsensor.v1.MovementSensorService/GetPosition:
    post:
      summary: Viam Movement Sensor Get Position
      description: Get GPS position (latitude, longitude, altitude).
      operationId: movementSensorGetPosition
      tags:
      - Movement Sensor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.component.movementsensor.v1.MovementSensorService/GetLinearVelocity:
    post:
      summary: Viam Movement Sensor Get Linear Velocity
      description: Get linear velocity in m/s.
      operationId: movementSensorGetLinearVelocity
      tags:
      - Movement Sensor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.component.movementsensor.v1.MovementSensorService/GetAngularVelocity:
    post:
      summary: Viam Movement Sensor Get Angular Velocity
      description: Get angular velocity in deg/s.
      operationId: movementSensorGetAngularVelocity
      tags:
      - Movement Sensor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.component.movementsensor.v1.MovementSensorService/GetCompassHeading:
    post:
      summary: Viam Movement Sensor Get Compass Heading
      description: Get compass heading in degrees.
      operationId: movementSensorGetCompassHeading
      tags:
      - Movement Sensor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.component.movementsensor.v1.MovementSensorService/GetOrientation:
    post:
      summary: Viam Movement Sensor Get Orientation
      description: Get orientation as an orientation vector.
      operationId: movementSensorGetOrientation
      tags:
      - Movement Sensor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
