openapi: 3.2.0
info:
  title: Viam Fleet Management Secrets API
  description: 'REST/JSON transcoding of the Viam AppService gRPC API. Manage organizations, locations,

    machines (robots), machine parts, fragments, OAuth apps, and team memberships in the

    viam.app cloud.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/app.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
  x-logo:
    url: https://www.viam.com/favicon.ico
servers:
- url: https://app.viam.com
  description: Viam production cloud (gRPC + gRPC-Web)
security:
- ApiKeyAuth: []
tags:
- name: Secrets
  description: Location and machine-part secrets used by SDKs to authenticate.
paths:
  /viam.app.v1.AppService/CreateLocationSecret:
    post:
      summary: Viam Create Location Secret
      description: Create a new location-level secret used by SDKs to connect.
      operationId: createLocationSecret
      tags:
      - Secrets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - location_id
              properties:
                location_id:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.AppService/DeleteLocationSecret:
    post:
      summary: Viam Delete Location Secret
      description: Revoke a location secret.
      operationId: deleteLocationSecret
      tags:
      - Secrets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - location_id
              - secret_id
              properties:
                location_id:
                  type: string
                secret_id:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.app.v1.AppService/GetRobotAPIKeys:
    post:
      summary: Viam Get Machine Api Keys
      description: List API keys with access to a machine.
      operationId: getRobotAPIKeys
      tags:
      - Secrets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - robot_id
              properties:
                robot_id:
                  type: string
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key id and key value sent as gRPC metadata (key_id + key).
