openapi: 3.1.0
info:
  title: Viam Billing Arm Resources API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Resources
  description: Resources (components and services) registered on the machine.
paths:
  /viam.robot.v1.RobotService/ResourceNames:
    post:
      summary: Viam Resource Names
      description: List all registered resource names on the machine.
      operationId: resourceNames
      tags:
      - Resources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
  /viam.robot.v1.RobotService/ResourceRPCSubtypes:
    post:
      summary: Viam Resource Rpc Subtypes
      description: List supported resource RPC subtypes implemented on the machine.
      operationId: resourceRPCSubtypes
      tags:
      - Resources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
