openapi: 3.1.0
info:
  title: Viam Billing Arm Sessions API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Sessions
  description: Client sessions with safety-timeout heartbeats.
paths:
  /viam.robot.v1.RobotService/StartSession:
    post:
      summary: Viam Start Session
      description: Open a new session with the machine.
      operationId: startSession
      tags:
      - Sessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                resume:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.robot.v1.RobotService/SendSessionHeartbeat:
    post:
      summary: Viam Send Session Heartbeat
      description: Send a heartbeat to keep the session alive.
      operationId: sendSessionHeartbeat
      tags:
      - Sessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.robot.v1.RobotService/GetSessions:
    post:
      summary: Viam Get Sessions
      description: List active sessions on the machine.
      operationId: getSessions
      tags:
      - Sessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
