openapi: 3.1.0
info:
  title: Viam Billing Arm Status API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: Status
  description: Status, version, cloud metadata, and machine state.
paths:
  /viam.robot.v1.RobotService/GetMachineStatus:
    post:
      summary: Viam Get Machine Status
      description: Retrieve the overall machine status including each resource's state.
      operationId: getMachineStatus
      tags:
      - Status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
  /viam.robot.v1.RobotService/GetVersion:
    post:
      summary: Viam Get Version
      description: Retrieve the viam-server version and platform metadata.
      operationId: getVersion
      tags:
      - Status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
  /viam.robot.v1.RobotService/GetCloudMetadata:
    post:
      summary: Viam Get Cloud Metadata
      description: Retrieve the org/location/machine id that the device is registered to.
      operationId: getCloudMetadata
      tags:
      - Status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
  /viam.robot.v1.RobotService/Shutdown:
    post:
      summary: Viam Shutdown
      description: Cleanly shut down viam-server on the device.
      operationId: shutdown
      tags:
      - Status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
  /viam.robot.v1.RobotService/StopAll:
    post:
      summary: Viam Stop All
      description: Stop all components on the machine.
      operationId: stopAll
      tags:
      - Status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
  /viam.robot.v1.RobotService/Log:
    post:
      summary: Viam Log
      description: Submit log entries to viam-server.
      operationId: log
      tags:
      - Status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - logs
              properties:
                logs:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
