openapi: 3.1.0
info:
  title: Viam Billing Arm SLAM API
  description: 'REST/JSON transcoding of the Viam BillingService gRPC API. Retrieve current-month

    usage, invoice summaries, invoice PDFs, billing tiers, and the location-level billing

    organization assignment used by Viam''s "build a robotics business" features.


    Canonical contract: https://github.com/viamrobotics/api/blob/main/proto/viam/app/v1/billing.proto

    '
  version: '2026.05'
  contact:
    name: Viam Support
    url: https://www.viam.com/contact
servers:
- url: https://app.viam.com
  description: Viam production cloud.
security:
- ApiKeyAuth: []
tags:
- name: SLAM
  description: Simultaneous Localization And Mapping.
paths:
  /viam.service.slam.v1.SLAMService/GetPosition:
    post:
      summary: Viam Get Position
      description: Return the machine's pose within the SLAM map.
      operationId: getPosition
      tags:
      - SLAM
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.service.slam.v1.SLAMService/GetPointCloudMap:
    post:
      summary: Viam Get Point Cloud Map
      description: Stream the live point cloud map.
      operationId: getPointCloudMap
      tags:
      - SLAM
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                return_edges_only:
                  type: boolean
      responses:
        '200':
          description: Successful response.
  /viam.service.slam.v1.SLAMService/GetInternalState:
    post:
      summary: Viam Get Internal State
      description: Stream the internal SLAM state (used for resume and offline analysis).
      operationId: getInternalState
      tags:
      - SLAM
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.service.slam.v1.SLAMService/GetProperties:
    post:
      summary: Viam Get Properties
      description: Retrieve SLAM service properties (mapping vs localization, cloud vs local).
      operationId: getProperties
      tags:
      - SLAM
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response.
  /viam.service.slam.v1.SLAMService/DoCommand:
    post:
      summary: Viam Do Command
      description: Model-specific custom commands.
      operationId: doCommand
      tags:
      - SLAM
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - command
              properties:
                name:
                  type: string
                command:
                  type: object
      responses:
        '200':
          description: Successful response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
      description: Viam API key.
